<html>
  <head>
    <meta charset="utf-8"/>
    <title>Game Dashboard</title>
  </head>

  <body class="body">
    <div>
      <h1>{{ game['title'] }}</h1>
    </div>

    <div>
      <form action="{{ url_for('start')}}" method="get">
        <input type="text" name="game">
        <input type="submit">
      </form>
    </div>

    <h2>Glitch Clusters</h2>

    <div>
      {% for g in game['glitch_clusters'] %}
      <hr>

      {% if g.score == -1 %}
      <h3>Unclustered</h3>
      {% else %}
      <h3>Cluster Priority Score: {{ g.score }}</h3>
      {% endif %}

      {% for tweet in g.glitches %}
      <p>{{ tweet }}</p>
      {% endfor %}
      {% endfor %}
    </div>
  </body>
</html>
