<html>
  <head>
    <meta charset="utf-8"/>
    <title>Game Dashboard</title>
  </head>

  <body class="body">
    <div>
      <h1>Search for a game:</h1>
    </div>

    <div>
      <form action="{{ url_for('start')}}" method="get">
        <input type="text" name="game">
        <input type="submit">
      </form>
    </div>
  </body>
</html>
